{% extends 'base.twig' %}

{% block title %}{{ 'Inicio'|trans }} - {{ 'Pokédex'|trans }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'Listado de Pokémon'|trans }}</h2>
    <div class="row">
        {% for pokemon in pokemons %}
            <div class="col-md-4 mb-4">
                <div class="card pokemon-card">
                    <div class="card-header">
                        <h5 class="card-title">#{{ pokemon.pokemon_id }} - {{ pokemon.name }}</h5>
                    </div>
                    {% if pokemon.images[0] is defined and pokemon.images[0].image_path %}
                        <img src="/scripts/{{ pokemon.images[0].image_path }}" 
                             class="card-img-top pokemon-image" 
                             alt="{{ pokemon.name }}"
                             onerror="this.src='/scripts/pokemon_images/unknown.png'">
                    {% else %}
                        <img src="/scripts/pokemon_images/unknown.png" 
                             class="card-img-top pokemon-image" 
                             alt="{{ 'Imagen no disponible'|trans }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ 'Región'|trans }}: {{ pokemon.region|trans }}</p>
                        <a href="/pokemon/{{ pokemon.pokemon_id }}" class="btn btn-primary">
                            {{ 'Ver detalles'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
